body {
  width: 480px;
  height: 320px;
  margin: 0;
  padding: 2px;
}

.bookshelf {
	padding: 0;
  margin: 0;
	overflow:hidden;
}
.status-bar {
	background-color: black;
	color: white;
	margin: 0;
	font-size: 20px;
  position:relative;
  height:40px;
  box-sizing: border-box;
}
.status-message {
  position:absolute;
  top:10px;
  left:10px;
  margin:0;
  padding:0;
}
.status-clock {
  position:absolute;
  top:10px;
  right:10px;
  margin:0;
  padding:0;
}
.as-sortable-item,
.as-sortable-placeholder,
.book {
	float: left;
	margin: 1px;
	height: 130px;
  box-sizing: border-box;
}
.spine {
  box-sizing: border-box;
	padding: 2px;
	position: relative;
	background-image:url('shadow.png')
}
.label {
	padding: 2px;
	white-space: pre;
	position: relative;
	background-color:white;
	color: black;
	font-family: sans-serif;
	font-size: xx-small;
	text-align: center;
	background-image:url('shadow.png')
}

.sortable-container {
  display:inline-block;
}
