<!DOCTYPE html>
<html ng-app="expansiveClassificationGame">
<head>
	<script src="lib/angular.js"></script>
	<script src="lib/ng-sortable/ng-sortable.js"></script>
	<script src="js/controllers.js"></script>
	<link rel="stylesheet" type="text/css" href="lib/ng-sortable/ng-sortable.min.css">
  <link rel="stylesheet" href="css/bookshelf.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-controller="gameController">
	<div ng-show="!level.started">
	  {{level.intro}}
		<button ng-click="startLevel()">Begin!</button>
	</div>
	<div ng-show="level.started">
		<div class="status-bar">
			<p class="status-message">{{level.status}}</p>
			<p class="status-clock">{{level.clock}}</p>
		</div>
		<div class="sortable-container">
			<ul class="sortable-row bookshelf" ng-model="bookshelf" as-sortable="sortableOptions">
				<li class="book" ng-repeat="book in bookshelf" as-sortable-item>
				  <div
				  	class="spine"
				  	as-sortable-item-handle
				  	style="height: {{book.height}}px; top: {{bookshelfHeight-book.height}}px; background-color: {{book.color}};">
						<div class="label" style="bottom: {{40-book.height}}px;">{{book.formattedCallNumber}}</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>
