<!DOCTYPE html>
<html ng-app="expansiveClassificationGame">
<head>
	<script src="lib/angular.js"></script>
	<script src="lib/ng-sortable/ng-sortable.js"></script>
	<script src="js/controllers.js"></script>
	<link rel="stylesheet" type="text/css" href="lib/ng-sortable/ng-sortable.min.css">
  <link rel="stylesheet" href="css/bookshelf.css">
</head>
<body ng-controller="gameController">
	<div ng-show="!game.started">
	  {{game.level.introduction}}
	</div>
	<p>{{game.status}}</p>
	<p>{{game.time}}</p>
	<div class="sortable-container">
		<ul class="sortable-row" ng-model="bookshelf" as-sortable="sortableOptions">
			<li class="book" ng-repeat="book in bookshelf" as-sortable-item>
			  <div
			  	class="spine"
			  	as-sortable-item-handle
			  	style="height: {{book.height}}px; top: {{200-book.height}}px; background-color: {{book.color}};">
					<div class="label" style="bottom: {{40-book.height}}px;">{{book.formattedCallNumber}}</div>
				</div>
			</li>
		</ul>
	</div>
</body>
</html> 